@import '../../styles/variables.scss';

.pagination {
  width: 80%;
  margin: 0 auto;
  padding: 1.5rem 0 0;

  // grid
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24px 24px;

  &__item {
    display: flex;
    align-items: center;
    gap: 6px;
    color: $white;

    &-data {
      font-weight: $font-weight-bold;
    }

    &-select {
      font-family: $main-font;
      color: $dark-green;
      background-color: $white;
      padding: 0.25rem 0.5rem;
      border-radius: 0.25em;
      cursor: pointer;
    }
  }

  &__buttons {
    display: flex;
    gap: 12px;
  }
}

// Media queries
@media (max-width: $breakpoint-xl) {
  .pagination {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: $breakpoint-md) {
  .pagination {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: $breakpoint-sm) {
  .pagination {
    grid-template-columns: 1fr;
  }
}
