// Fonts
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap');
$main-font: 'Public Sans', sans-serif;

// Font-size
$font-size-sm: 0.875rem; //14px
$font-size-md: 1rem; //16px
$font-size-lg: 1.5rem; //24px
$font-size-xl: 2rem; //32px

// Font-weight
$font-weight-medium: 500; //medium
$font-weight-bold: 700; //bold

// Colors
$black: #25282e;
$white: #fff;
$grey: #3c3e43;
$light-grey: #9e9e9e;
$light-grey-2: #f3f3f3;
$red: #d63d2e;
$green: #76c858;
$dark-green: #067619;

// Breakpoints
$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1200px;
