@import '../../styles/variables.scss';

.characterCard {
  height: 25rem;
  color: $white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);

  &__imageContainer {
    height: 60%;

    &-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }

  &__contentContainer {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px;
    background-color: $grey;

    &-section {
      display: flex;
      flex-direction: column;

      &-name {
        font-weight: $font-weight-bold;
        color: $white;

        // truncar titulo
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      &-wrapper {
        display: flex;
        align-items: center;
        gap: 8px;

        &-status-indicator {
          width: 0.563rem;
          height: 0.563rem;
          border-radius: 50%;

          &--Alive {
            background-color: $green;
          }

          &--Dead {
            background-color: $red;
          }

          &--unknown {
            background-color: $light-grey;
          }
        }

        &-status-and-species {
          font-weight: $font-weight-medium;
          color: $white;
        }
      }
    }
  }
}
